<div class="post-list-container">
    <div class="row">
        <div class="col-6 list-title">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="col-6 text-right posted-by">
            Posted by {{user.username}} on {{format_date created_at}}
        </div>
    </div>
    <div class="row">
        <div class="col list-post">
            {{post_content}}
        </div>
    </div>
    <p class="post-a-comment"><b>Post a comment</b></p> 